@import 'globals/_globals'
@import 'components/_mixins'
@import 'components/utilities.sass' 

*
	box-sizing: border-box
$small-font-size: 15px 
html
	font-size: $small-font-size
body
	margin: var(--body-margin, 0) 
	padding: var(--body-margin, 0)
	font-family: var(--base-font)
	font-size: 100% 
	line-height: 1.45  
	background-color: var(--shade-f0)
	color: var(--text-black)
	//local variables
	--header-height: 8vh
	@media screen and (min-width: 600px) 
		--header-height: 10vh
h1, h2, h3, h4, h5
	margin-top: 0
	margin-bottom: var(--vertical-unit)
	line-height: 1.35
	color: var(--text-black)
h2:not(:first-child), h3:not(:first-child)
	margin-top: calc(var(--vertical-unit) * 2)
h2, h3, h4, h5
	margin-bottom: calc(var(--vertical-unit) * 0.382 )
	font-family: var(--sans-font)
h1
	font-family: var(--heading-font)
	font-size: var(--text-gr-03)
h2
	font-family: var(--heading-font)
	font-size: var(--text-gr-01)  
h3
	font-size: var(--text-gr-00)
p, ul, ol, blockquote 
	margin-top: 0
	margin-bottom: var(--vertical-unit)
	color: var(--shade-50)

button
	font-family: var(--base-font)
a  
	position: relative
	font-weight: var(--bold-font-weight)
	text-decoration: none  
	color: var(--link-color)
	transition: color var(--quicktrans) var(--easing)
	@include linkHover 
		font-weight: var(--link-active-weight) 
		color: var(--link-active-color)
		text-decoration: none  
		&::after
			height: 0.300rem
	&::after
		content: " "
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 0rem
		opacity: 0.72
		background-color: rgba($brand-secondary, 0.9)
		transition: height 220ms ease-out
hr
	width: 100%
	margin-top: 0
	margin-bottom: var(--vertical-unit)
	border-width: 0
	border-top-width: #{(1/14)}rem
	border-color: var(--shade-f0)
@mixin makeLinkActive
	position: relative
	transition: color var(--quicktrans) var(--easing)
	text-decoration: none  
	&::after
		content: " "
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 0rem
		opacity: 0.72
		background-color: rgba($brand-secondary, 0.9)
		transition: height 220ms ease-out
	@include linkHover()
		&::after
			height: 0.300rem
		text-decoration: none
@mixin makeGrid($grid-columns: repeat(auto-fill, minmax(var(--min-col-width), 1fr)), $grid-rows: auto, $gap: $vertical-unit)
	display: grid
	grid-template-rows: $grid-rows
	grid-template-columns: $grid-columns
	gap: $gap
	@content
blockquote
	margin-left: 0
	margin-top: calc(var(--vertical-unit) * 2)
	margin-bottom: calc(var(--vertical-unit) * 2)
	padding-left: #{(28/14)}rem
	border-left: 4px solid var(--shade-90)
	p 
		font-style: italic

img
	max-width: 100%
iframe
	border: none
.svg-icon
	max-width: 	2rem
	max-height: 2rem

@media screen and (min-width: 600px) 
	html
		font-size: 16px
@media screen and (min-width: 1400px) 
	html
		font-size: 18px
@media screen and (min-width: 1800px) 
	html
		font-size: 20px

@import 'components/header.sass';	
@import 'components/animations.sass';
@import 'components/grid';
@import 'components/hero'; 
@import 'components/cards'; 
@import 'components/bc-two-column-layout'; 
@import 'components/flickity-sliders';
@import 'components/bc-twin-component'; 
@import 'components/tables';

/* Layout */
.bc-container 
	padding: calc(var(--vertical-unit) * 3) calc(var(--gutter) * 0.5)
.bc-content-component
	margin-bottom: calc(var(--vertical-unit) * 2) 
	&:last-of-type, &:last-child
		margin-bottom: 0
	.bc-content-component
		padding-left: 0
		padding-right: 0
.bc-content-component
	@include makeFlexbox(column)
/* Utilities 	overwrites */
.bc-media-overlay
	background-color: rgba($black, 0.20) 
	mix-blend-mode: normal
.bc-cross-overlay
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 12.5%
	z-index: 10
	.cross-over-element
		fill: var(--brand-primary)
		opacity: 0.36
.bc-show-hide
	margin-left: calc(var(--vertical-unit) * -0.5)
	margin-right: calc(var(--vertical-unit) * -0.5)
	padding-left: calc(var(--vertical-unit) * 0.5)
	padding-right: calc(var(--vertical-unit) * 0.5) 
	& &__header
		@include makeFlexbox($justify: space-between)
		padding-top: calc(var(--vertical-unit) * 0.5)
		font-family: var(--serif-font)
		font-size: var(--text-gr-01)
		h2, h3, h3
			margin-bottom: 0
			font-family: var(--serif-font)
			font-size: var(--text-gr-01)
		@include linkHover 
			cursor: pointer 
			a
				text-decoration: underline
				&::after 
					height: 0
	a 
		@include linkHover 
			text-decoration: underline
			&::after
				height: 0
	& &__body
		height: 0
		padding-top:    0
		//padding-bottom: calc(var(--vertical-unit) * 0.25)
		margin-bottom: calc(var(--vertical-unit) * 0.5)
		overflow: hidden
		transition: height 320ms ease-in, opacity 320ms ease-out, padding 240ms ease-out
	hr 
		margin: 0
		padding: 0
		width: 100%
		border: none
		border-bottom: 1px solid rgba($brand-primary, 0.5)
	& &__hide
		margin-bottom: 0
	& &__hide__wrap
		@include makeFlexbox($justify: flex-end, $align: center)
		.bc-show-hide-icon
			margin-left: calc(var(--gutter) * 0.618)
			transform: none
	.bc-show-hide-icon__wrap
		@include makeFlexbox(row, center, center, $inline: true)
		margin-top: calc(var(--vertical-unit) * 0.15)
		margin-left: calc(var(--gutter) * 0.5)
		padding: calc(var(--gutter) * 0.25)
	.bc-show-hide-icon
		width: auto
		height: auto
		max-width:  calc(var(--gutter) * 0.5)
		max-height: calc(var(--vertical-unit) * 0.5)
		transform: rotate(45deg)
		transition: transform 420ms ease-out
	& &__toggle.bc-is-active
		.bc-show-hide-icon
			transform: rotate(90deg)
	& &__toggle.bc-is-active + &__body 
		opacity: 1
		padding-top: 		var(--vertical-unit)
		padding-bottom: var(--vertical-unit)
.bc-button
	padding: calc(var(--vertical-unit) * 0.5) calc(var(--gutter) * 1.25)
	font-weight: var(--bold-font-weight)
	border: 1px solid var(--brand-primary)
	background-color: var(--brand-primary)
	color: var(--white)
	transition: background-color 360ms ease-out, box-shadow 220ms ease-out
	@include linkHover
		cursor: pointer
		background-color: darken($brand-primary, 10%)
		box-shadow: 3px 3px 8px 4px rgba($black, 0.12), -3px -3px 8px 4px rgba($black, 0.12)
	&--secondary 
		@extend .bc-button
		font-weight: var(--font-weight)
		color: var(--text-black)
		background-color: #ededed
		border-color: var(--shade-08) 
/* Custom utils */
@mixin makeTextColor($text-color)
	color: $text-color
	h1, h2, h3, h4, h5, a, p, ul, li, blockquote, .bc-arrow-link .svg-icon, .flickity-button-icon
		color: inherit
		fill: $text-color
	.flickity-page-dots .dot
		background-color: $text-color
@mixin makeBackgroundFill($fill-color-start, $fill-color-end, $fill-invert)
	@content
	background-color: $fill-color-start
	background-image: linear-gradient(315deg, $fill-color-end 0%, $fill-color-start 50%, $fill-color-end 100%)
	@include makeTextColor($fill-invert)
.bc-text-component
	width: 100% 
.bc-bg-brand-primary
	@include makeBackgroundFill($brand-primary, $brand-darker, $white) 
.bc-bg-shade-f0
	@include makeBackgroundFill($shade-f0, darken($shade-f0, 10%), $text-black)
.bc-bg-brand-primary, .bc-bg-brand-secondary, .bc-bg-shade-f0
	.bc-object-embed
		@include is-16x9()
		background-color: var(--white)
		iframe, img 
			top:  	calc(var(--gutter) * 0.25)
			left: 	calc(var(--gutter) * 0.25)
			width: 	calc(100% - (var(--gutter)*0.5)
			height: calc(100% - (var(--gutter)*0.5)

.bc-content-label
	&__wrap
		@media screen and (min-width: $tablet-large)
			@include makeFlexbox($align: center)
	margin-bottom: calc(var(--vertical-unit) * 0.618 )
	font-family: var(--sans-font) 
	font-size: var(--text-gr--2) 
	font-weight: var(--light-weight)
	text-transform: uppercase

	.bc-match-height
		transition: height 360ms ease-out
	
/* Hanlon & Co logo -- text */
.bc-site-logo 
	font-family: var(--serif-font)
	font-size: var(--text-gr-01)
	color: var(--text--black)
	> span
		color: var(--brand-secondary)
	&--white
		@extend .bc-site-logo
		color: var(--white)
	
.bc-arrow-link
	.svg-icon
		max-width: 	calc(var(--text-gr-00) * 1.3)
		max-height: calc(var(--text-gr-00) * 1.3)
		fill: var(--brand-primary)
.bc-feature-header
	position: relative
	& &__col
		max-width: #{(520 /18)}rem
	& &__heading
		font-size: var(--text-gr-03-5)
		position: relative
		margin-bottom: calc(var(--vertical-unit) * 0.382)
		color: var(--brand-primary)
	.bc-intro-paragraph 
		position: relative
		margin-bottom: 0
		padding-bottom: calc(var(--vertical-unit))
		//border-bottom: #{(3/14)}rem solid var(--shade-e0)
		&::after
			//content: " "
			position: absolute
			top: auto 
			left: 0 
			//bottom: calc((var(--vertical-unit) )  * -1 + #{(3/14)}rem) 
			bottom: calc(-1 * #{(9/14)}rem) 
			width: 100%
			height: #{(1.5/14)}rem
			background-color: var(--shade-e0)
	&::before, &::after
		//content: " "
		
		width: calc(var(--gutter) * 2)
		background-color: var(--brand-secondary)
	&::before 
		bottom: calc((var(--gutter) )  * (-1.382 * 0.75)) 
		height: #{(3/14)}rem
	&::after
		//content: " "
		position: absolute
		top: auto 
		left: 0 
		bottom: calc((var(--gutter) )  * -2 * 1) 
		height: #{(1.5/14)}rem
		background-color: var(--shade-e0)
	&--hero
		@extend .bc-feature-header
		.bc-intro-paragraph
			border-bottom: none
		&::before 
			height: 0
		&::after
			height: 0
	&.bc-has-dots
		position: relative
		padding-top: calc(var(--vertical-unit) * 2.5)
		.bc-feature-header__heading
			background-color: rgba($white, 1)
		#abstract-dots, .bc-abstract-dots
			position: absolute
			//display: none
			top: 0
			left: 0
			max-width: 	calc(var(--gutter)*4)
			max-height: calc(var(--gutter)*2)
			fill: var(--shade-d0)
			&.bc-abstract-dots-4 
				max-width: calc(var(--gutter)*4)
		@media screen and (min-width: $tablet-large)
			padding-top: calc(var(--vertical-unit) * (3.5 * 0.55))
			.bc-feature-header__heading
				margin-left:  calc(var(--gutter) *  0.33 * -1) 
				margin-right: calc(var(--gutter) *  0.33 * -1) 
				padding-left:  calc(var(--gutter) * 0.33) 
				padding-right: calc(var(--gutter) * 0.33) 
			#abstract-dots, .bc-abstract-dots
				display: block
				max-width: calc(var(--gutter)*7)
				max-height: calc(var(--gutter) * 3.5)
				left: calc(var(--gutter) * 1.5 * -1)
	@media screen and (min-width: $tablet)
		//display: grid
		gap: var(--gutter)
		grid-template-columns: repeat(2, 1fr)	
		&::before, &::after
			width: calc(var(--gutter) * 3)

.bc-feature-sub-header
	margin-bottom: calc(var(--vertical-unit) * 2
	& &__heading
		position: relative
		color: var(--shade-50)
		margin-bottom: var(--vertical-unit)
		&::before, &::after
			content: " "
			position: absolute
			top: auto 
			left: 0 
			width: calc(var(--gutter) * 2)
			background-color: var(--shade-b0)
		&::before 
			bottom: calc((var(--gutter) )  * (-1.382 * 0.5)) 
			height: #{(3/14)}rem
		&::after
			bottom: calc((var(--gutter) )  * -1.382 * 0.75) 
			height: #{(1/14)}rem
.bc-intro-paragraph		
	font-size: var(--text-gr-01)
	//font-weight: var(--light-weight)
	color: inherit
#abstract-dots, .bc-abstract-dots
	fill: var(--shade-d0)
	.abstract-dot
		fill: var(--shade-e0)
	
.bc-page-loading
	visibility: hidden
	opacity: 0
	
.bc-page-loaded
	visibility: visible
	opacity: 1
	transition: opacity 480ms ease-out

/* Inner page header */
.bc-site-header
	align-items: center
	height: var(--header-height)
	padding-top: 		calc(var(--vertical-unit) /2 )
	padding-bottom: calc(var(--vertical-unit) /2 )
	background-color: var(--white)
	.bc-site-logo
		transition: none
		
	& &__home-link
		@include linkHover
			&::after
				height: 0
	& &__menu-link
		z-index: 35
		&__close
			fill: var(--white)

		.svg-icon
			max-width:  calc(var(--gutter) * 1.125)
			max-height: calc(var(--gutter) * 1.125)
	& &__main-navigation
		height: auto
		left: auto
		right: auto
		transform: translateX(120%)
		align-items: stretch
		padding-top: var(--header-height)
		background-color: var(--brand-primary)
		opacity: 0
		transition: transform 360ms ease-in, opacity 360ms ease-in
		z-index: 30
		hr
			border-top: 1px solid var(--white)
			width: 100%
			padding: 0
			margin: 0 
		&__list 
			flex: 1 1 100%
			margin: 0
			padding: calc(var(--vertical-unit)) 0 calc(var(--vertical-unit) * 2) 
			list-style: none	
			font-size: var(--text-gr-01)
			a
				padding: 0
				color: var(--white)
		li
			padding: calc(var(--vertical-unit) / 2) calc(var(--gutter))
		&__item
			@include makeFlexbox(column)
			font-family: var(--serif-font)
			font-size: var(--text-gr-01) 
			opacity: 0
			transform-origin: 0 0  
			transform: translateY(calc(var(--vertical-unit) * 0.5))
			transition-duration: 0ms 
			transition-delay: 0ms
			> ul 
				margin-top: 	 calc(var(--vertical-unit) * 0.5)
				margin-bottom: calc(var(--vertical-unit) * 0)
				padding-left: 0
				li
					padding-top: calc(var(--vertical-unit) / 4)
					padding-bottom: calc(var(--vertical-unit) / 4)
				a 
					font-size: var(--text-gr-00)
					font-family: var(--base-font)
					font-weight: var(--font-weight)
		.bc-show-hide
			.bc-show-hide__header
				padding-top: 		0	
				padding-bottom: 0
				@include linkHover
					text-decoration: none
					&::after
						height: 0
			.bc-show-hide__body
				transition-duration: 240ms
			.bc-show-hide-icon
				fill: var(--white)
			.bc-show-hide__body
				opacity: 0
				transform: translateY(-5%)
				transition: height 280ms ease-out 0ms, opacity 0ms ease-in 0ms, transform 0ms ease-out 0ms 
			.bc-show-hide__toggle.bc-is-active + .bc-show-hide__body
				padding-top: 0
				padding-bottom: 0
				opacity: 1
				transform: translateY(0)
				transition: height 280ms ease-out 0ms, opacity 160ms ease-in 220ms, transform 480ms ease-out 280ms 
				
			
	&.bc-is-active
		.bc-site-header__main-navigation
			left: 0
			transform: translateX(0)
			opacity: 1
			transition-timing-function: ease-in
			background-color: var(--brand-primary)
			&__item
				border-color: var(--white)
				opacity: 1
				transform: translateY(0)
				--delay: 280ms
				transition: opacity 320ms ease-out var(--delay), transform 380ms ease-out var(--delay) 
				&:nth-of-type(1)
					transition-delay: calc(var(--delay))
				&:nth-of-type(2)
					transition-delay: calc(var(--delay) * 2)
				&:nth-of-type(3)
					transition-delay: calc(var(--delay) * 3)
				&:nth-of-type(4)
					transition-delay: calc(var(--delay) * 4)
				&:nth-of-type(5)
					transition-delay: calc(var(--delay) * 5)
				&:nth-of-type(6)
					transition-delay: calc(var(--delay) * 7)
			
		.bc-site-logo
			color: var(--white)
			z-index: 35
			transition: color 340ms ease-in
		& .bc-site-header__menu-link
			z-index: 35
	@media screen and (min-width: $tablet)
		& &__main-navigation
			flex-direction: row
			flex-wrap: wrap
			align-items: flex-start
			height: auto
		&	&__main-navigation-wrap.bc-content-component--text
			width: auto
			flex: 0 0 61.8%
	@media screen and (min-width: $tablet-large)
		& &__main-navigation
			overflow: hidden
			//transition: opacity 600ms ease-out
			
			&-wrap
				flex: 1 1 100%
				@include makeFlexbox(row, $align: stretch)
			&__list 
				flex: 1 1 61.8%
		
.bc-is-filterable
	transition: filter 640ms ease-in
	&--full-screen
		transition: filter 820ms ease-in
/* Hero components overlay */
.bc-hero 
	@include makeFlexbox(column, flex-end, center) 
	color: var(--white)
	.bc-cross-overlay
		display: initial
	& &__heading
		position: relative
		margin-top: 6% //offset aganist the footer extra heignt
		margin-bottom: 0 
		font-size: var(--text-gr-04-5) 
		color: var(--white)	
		max-width: var(--text-max-width)
		&::before
			background-color: var(--white) 
	& &__tagline, & &__heading, .bc-brand-tagline 
		color: inherit
	&	&__tagline
		font-size: var(--text-gr-01) 
		font-weight: var(--light-weight)
	.bc-site-logo, .bc-brand-tagline
		color: inherit
	.bc-site-logo
		margin-bottom: calc(var(--vertical-unit) / 2)
		line-height: 1.1
	.bc-brand-tagline
		font-size: var(--text-gr--1)
		font-weight: var(--light-weight )
		text-transform: uppercase
		letter-spacing: calc(var(--gutter) / (1.618 * 1.618))
	& &__body 
		@include makeFlexbox($direction: column, $justify: flex-end) 
		padding-left:  calc(var(--gutter) * 0.5)
		padding-right: calc(var(--gutter) * 0.5)
	& &__footer
		flex-basis: 12.5%
		width: 100% 
		justify-content: flex-end
		align-items: stretch
		transition: opacity 320ms ease-out
		&__scroll
			font-size: var(--text--2)
			font-weight: var(--regular-font-weight)
			text-transform: uppercase
			.svg-icon
				margin-top: calc(var(--vertical-unit) / 6)
				max-width:  var(--text-02) 
				max-height: var(--text-02)
			@include makeFlexbox($justify: flex-end, $align: stretch)
			padding: 0
			.bc-content-label
				opacity: 0
				margin: calc(var(--gutter) * 0.25) calc( var(--vertical-unit) * 0.5)
				transition: opacity 480ms ease-in 480ms
			&__line
				position: relative
				flex-basis: 1 0 100%
				width: #{(1/14)}rem
				background-color: rgba($white, 0)
				&::before
					content: " "
					position: absolute
					width: 100%
					height: 0
					top: 0
					left: 0
					right: 0
					bottom: 0
					background-color: rgba($white, 1)
					opacity: 0
					transition: height 280ms ease-in, opacity 480ms ease-in
	&:hover
		.bc-content-label
			opacity: 1
		.bc-hero__footer
			&__scroll
				&__line
					&::before
						height: 100%		
						opacity: 0.76
	&.bc-hero--full-screen
		height: calc(100vh - var(--header-height))
		padding-bottom: 0
	@media screen and (min-width: $tablet) 
		&.bc-inner-page-heading
			.bc-hero__body
				padding-bottom: 0
		.bc-hero__heading 
			margin-top: 0 
			margin-bottom: calc(var(--vertical-unit) / 2)
	.bc-feature-header
		//margin-bottom: calc(var(--vertical-unit)*0)
		color: inherit
/* Content sections */
.bc-container.bc-has-footer
	padding-bottom: 0
	footer
		height: 8vh
		margin-top: calc(var(--vertical-unit)*3)
		.bc-footer__scroll
			flex: 1 1 100%
			width: 100%
			color: var(--text-black)
			@include makeFlexbox($justify: flex-end, $align: stretch)
			padding: 0
			.bc-content-label
				opacity: 1
				margin: calc(var(--gutter) * 0.25) calc( var(--vertical-unit) * 0.5)
				transition: opacity 480ms ease-in 480ms
			&__line
				position: relative
				flex-basis: 1 0 100%
				width: #{(1/14)}rem
				height: 100%
				background-color: rgba($text-black, 1)
				&::before
					content: " "
					position: absolute
					width: 100%
					height: 0
					top: 0
					left: 0
					right: 0
					bottom: 0
					background-color: var(--text-black)
					opacity: 1
					transition: height 280ms ease-in, opacity 480ms ease-in
			&.bc-is-visible
				.bc-content-label
					opacity: 1
				.bc-hero__footer
					&__scroll
						&__line
							&::before
								height: 100%		
								opacity: 0.76
.bc-grad-bottom
	position: relative
	&::after
		content: " "
		position: absolute
		width: 120%
		height: 100px
		bottom: calc(var(--vertical-unit) * -1)
		left: -10%
		right: -10%
		background-color: var(--shade-e0)
		z-index: -1
		background-image: linear-gradient(0deg, transparent, $shade-f0)
.bc-two-column-layout
	background-color: var(--white)
	margin-bottom: 0
	& &__text-column
		padding-top: calc(var(--vertical-unit) * 1)
		padding-bottom: calc(var(--vertical-unit) * 2)
	& &__sub-head
		margin-bottom: calc(var(--vertical-unit) / 4)
		font-size: var(--text-01)
		font-family: var(--sans-font)
	.bc-arrow-link, p:last-child
		margin-bottom: 0
	@media screen and (max-width: calc(#{$tablet} - 1px))
		margin-left: calc((var(--gutter) + (var(--gutter) / 2)) * -1)
		margin-right: calc((var(--gutter) + (var(--gutter) / 2)) * -1)
		& &__text-column
			padding-left: calc((var(--gutter) + (var(--gutter) / 2)))
			padding-right: calc((var(--gutter) + (var(--gutter) / 2)))
	@media screen and (max-width: calc(#{$tablet-large} - 1px))
		margin-left: calc((var(--gutter) + (var(--gutter) / 2)) * -1)
		margin-right: calc((var(--gutter) + (var(--gutter) / 2)) * -1)
	@media screen and (min-width: $tablet)
		@include makeGrid($grid-columns: 1fr 1fr, $gap: 0)
		& &__text-column
			justify-content: center
			padding-bottom: var(--vertical-unit)
		&:nth-child(odd)
			.bc-two-column-layout
				&__text-column
					order: 0
				&__media-column
					order: 1	
.bc-breadcrumbs-nav
	&.bc-container
		padding-top: calc(var(--vertical-unit) * 0.618)
		padding-bottom: calc(var(--vertical-unit) * 0.618)

.bc-card 
	& &__media 
		background-color: var(--shade-60) 
	& &__heading
		font-size: var(--text-gr-01)
	&--plain-text 
		background-color: var(--shade-e0)
		@include linkHover
			background-color: var(--shade-d0)
			text-decoration: none
			a 
				text-decoration: underline
				font-weight: var(--link-active-weight)

.bc-testimonials		
	&.bc-container
		padding-top: 		calc(var(--vertical-unit) * 4)
		padding-bottom: calc(var(--vertical-unit) * 5)
		position: relative
	& .bc-content-component--text
		margin-bottom: calc(var(--vertical-unit) * 0)	
	& &__quote-icon 
		&.bc-content-component--text
			display: block
		.svg-icon
			fill: rgba($shade-a0, 0.64)			
			max-width: 	3rem
			max-height: 3rem
			z-index: -1
	& &__heading
		margin-bottom: 0
	& &__body
		p
			font-family: var(--serif-font) 
			font-size: var(--text-gr-02)
			font-weight: var(--bold-font-weight)
			&:last-child
				margin-bottom: 0
	& &__attribution
		font-family: var(--base-font)
		font-size: var(--text-gr-00) 
		font-weight: var(--light-weight)
	.flickity-page-dots
		bottom: calc(var(--vertical-unit) * 2 * -1)
	.flickity-prev-next-button
		transition: opacity 220ms ease-in
		left: auto 
		top: auto
		bottom: 0
		background-color: transparent
		border: none
		border-radius: 0
		width:  calc(var(--text-gr-04) * 1.382)
		height: calc(var(--text-gr-04) * 1.382)
		&.previous
			right: calc(var(--text-gr-04) * 1.382 ) 
		&.next 
			right: calc(var(--gutter)/2)
			transform: translateY(-50%) rotate(180deg) 
		&:focus 
			0 0 0 #{(4/14)}rem var(--brand-secondary)
	@media screen and (min-width: $tablet)
		.flickity-prev-next-button  
			&.previous
				right: calc((100% - 90%)/2 + var(--text-gr-04) * 1.382 )
			&.next 
				right: calc((100% - 90%)/2)
	@media screen and (min-width: $tablet-large)
		.flickity-prev-next-button  
			&.previous
				right: calc((100% - 70.2%)/2 + var(--text-gr-04) * 1.382 )
			&.next 
				right: calc((100% - 70.2%)/2)
	//@media screen and (max-width: calc(#{$tablet} - 1px))
		
				
.bc-flickity--text-slider
	@media screen and (max-width: calc(#{$tablet} - 1px))
		.flickity-page-dots
			bottom: calc(var(--vertical-unit)*0.75*-1)
	@media screen and (min-width: $tablet)
		margin-left:  auto
		margin-right: auto
		padding-bottom: 0
		margin-bottom: calc(var(--vertical-unit) * 2)
		max-width: 90%
		.flickity-button
			width: #{(44 / 14)}rem
			height: #{(44 / 14)}rem
			bottom: auto
			top: 50%
			background-color: transparent 
			
			transform: translateY(-50%)
			z-index: 100
		.flickity-prev-next-button
			z-index: 100
			&.previous
				//left: calc(var(--gutter) * -1.618)
				left: -10%
				transform: translate(50%, -50%) 
			&.next
				//right: calc(var(--gutter) * -1.618)
				right: -10%
				transform: translate(-50%, -50%)
		
	@media screen and (min-width: $tablet-large)
		margin-left: auto
		margin-right: auto
		max-width: 70.72%

	.bc-flickity__slide
		margin-top: calc(var(--gutter) * 0.5) 
		padding: 0 calc(var(--gutter) * 0.5)
		background-color: transparent
	
.bc-areas-of-practice
	&.bc-container
		padding-top: calc(var(--vertical-unit) * 2)
	position: relative
	background-color: var(--white)
	@media screen and (max-width: calc(#{$tablet-large} - 1px))
		padding-bottom: calc(var(--vertical-unit) * 1)
	& &__main
		&.bc-content-component
			margin-bottom: 	calc(var(--vertical-unit) * 4)
		&__area
			position: relative
			width: 100%
			padding-bottom: calc(var(--vertical-unit)*4)
		&__media
			picture
				display: block
			&__media
				@include objectEmbed
				padding-top: calc(10/8*100%)
		&__text
			position: absolute
			@include makeFlexbox(column, space-between)
			height: auto
			width: calc(100% - (var(--gutter)*1.25))
			top: auto
			left: calc(var(--gutter)*0.75)
			right: 0
			bottom: 0
			padding: calc(var(--gutter)) calc(var(--vertical-unit))
			background-color: var(--white) 
			box-shadow: 0px 2px 0px 0px rgba($brand-primary, 64%)
			z-index: 20
			--this-timing: 200ms
			transition: box-shadow var(--this-timing) ease-in
			.bc-arrow-link
				margin-bottom: 0
				color: var(--brand-primary)
				> span
					font-weight: var(--bold-font-weight)
					@include makeLinkActive
			.svg-icon
				fill: var(--brand-primary)
			&::after
				display: none
			.bc-media-overlay
				opacity: 0
				background-color: var(--shade-e0)
				transition: opacity 240ms ease-out
				z-index: -1
			
			@include linkHover() 
				0px 1px 0px 0px rgba($brand-primary, 80%) 
				.bc-media-overlay
					opacity: 0.2
				.bc-arrow-link
					> span
						&::after
							height: 0.300rem
		&__sub-head
			font-size: var(--text-gr-02) 
			margin-bottom: 0
			margin-bottom: calc(var(--vertical-unit)*0.5)
			line-height: 1
			color: inherit
		&__description
			font-weight: var(--font-weight)
			overflow: hidden	
			margin-bottom: calc(var(--vertical-unit)*0.5)
			transition: height 420ms ease-out
		@media screen and (min-width: $tablet)
			@include makeGrid($grid-columns: repeat(2, 1fr), $grid-rows: auto, $gap: $gutter)
			.bc-areas-of-practice__main__media__media
				padding-top: calc(5 / 4 * 100%)
		@media screen and (min-width: $tablet-large)	
			gap: 3rem
			.bc-areas-of-practice__main__text
				width: calc(100% - (var(--gutter)*1))
				left: calc(var(--gutter) * 1.5)
			.bc-areas-of-practice__main__media__media
				padding-top: calc(8 / 10 * 100%)
	.bc-feature-sub-header__heading
		font-size: var(--text-gr-02-5)
		color: var(--brand-primary)
	& &__other
		margin-left:  calc(var(--gutter) * 0.5 * -1)
		margin-right: calc(var(--gutter) * 0.5 * -1)
		width: calc(100% + var(--gutter))
		background-image: linear-gradient(0deg, rgba($white, 0), var(--white))
		&.bc-content-component
			padding-top: 0
		&__area
			@include makeFlexbox(column, space-between)
			padding: calc(var(--vertical-unit) * 1)  calc(var(--vertical-unit) * 0.5) 
			margin-bottom: calc(var(--vertical-unit) * 1)
			transition: background-color 360ms ease-in
			@include linkHover()
				cursor: pointer
				background-color: var(--shade-e0)
				a:after 
					height: 0.3rem
			&__header
				@include makeFlexbox($align: center)
				margin-bottom: calc(var(--vertical-unit)*0.5)
			&__heading
				margin-top: 0
				margin-bottom: 0
				font-size: var(--text-gr-01-5)
				@media screen and (min-width: $tablet-large)
					font-size: var(--text-gr-01)
		&__icon
			height: calc(var(--text-gr-04-5) * 1)
			width:  calc(var(--text-gr-04-5) * 1)
			margin-right: calc(var(--vertical-unit) * 1)
			max-width: none
			max-height: none

	@media screen and (min-width: $tablet)
		& &__other
			@include makeGrid($grid-columns: repeat(3, 1fr))
			gap: 0
			&__area
				margin-bottom: 0
				.bc-arrow-link
					margin-bottom: 0
/** Custom components **/
.bc-bg-text
	font-family: var(--heading-font)
	font-size: var(--text-gr-02)
/* Big text compoonent */
.bc-big-text-feature
	& .bc-content-label
		margin-bottom: var(--vertical-unit)
	& &__heading
		font-family: var(--heading-font)
		font-size: var(--text-gr-02)
	h1, h2, h3, h4, h5, p, a, ul, li, blockquote
		color: inherit
	&.bc-container
		padding-top: 		calc(var(--vertical-unit) * 4)
		padding-bottom: calc(var(--vertical-unit) * 4)
	.bc-text-component
		@include makeFlexbox(column)
	.bc-arrow-link
		margin-bottom: 0
		> a 
			font-weight: var(--font-weight)
.bc-about-us
	background-color: var(--white)
	&.bc-container
		padding: 0
.bc-two-column-layout--wide
	& &__media
		&__media
			display: block
			@include objectEmbed
			padding-top: 100% 
			@media screen and (min-width: $tablet) and (orientation: portrait)
				padding-top: calc(9 / 16 * 100%)
	& &__text
		position: relative
		@include makeFlexbox(column, center, flex-start)
		padding: calc(var(--vertical-unit)*3) calc((var(--gutter) * 2))
		.bc-arrow-link
			margin-bottom: 0
		.bc-abstract-dots
			display: none
			position: absolute
			top: 		calc((var(--gutter) * 1))
			right: 	calc((var(--gutter) * 1))
			max-width:  7rem
			max-height: 3.5rem
			fill: var(--white)
			opacity: 0.44
			@media screen and (min-width: $tablet-large)
				display: block
				top: 		calc((var(--gutter) * 1.75))
				right: 	calc((var(--gutter) * 2))
	& &__heading
		margin-top: 0
		margin-bottom: calc(var(--vertical-unit) * 1)
	@media screen and (min-width: $tablet-large)
		display: grid
		gap: 0
		grid-template-columns: 1fr 1fr
		grid-template-rows: auto
		& &__media
			&__media
				padding-top: calc(8/10*100%)
		& &__text
			padding-left:  calc(var(--gutter) * 2) 
			padding-right: calc(var(--gutter) * 2)
		
.bc-inner-page
	h2
		font-family: var(--sans-font)
	.bc-text-component
		max-width: none
		@media screen and (min-width: 860px)
			max-width: var(--text-max-width)
	.bc-feature-header
		margin-bottom: calc(var(--vertical-unit) * 2)
	.bc-media-overlay
		background-color: rgba($brand-primary, 0.8) 
		mix-blend-mode: none
	.bc-content-label
		color: inherit
	.bc-breadcrumbs-nav, & &__main-section
		background-color: var(--white)
	.bc-container:not(.bc-site-header):not(.bc-breadcrumbs-nav):not(.bc-inner-page-heading):not(footer):not(.bc-testimonials)
		padding-top: calc(var(--vertical-unit) * 1)
		padding-bottom: calc(var(--vertical-unit) * 0)
	#main-site-content
		.bc-container
			&:first-of-type
				padding-top: calc(var(--vertical-unit) * 2)
			&:last-of-type
				padding-bottom: calc(var(--vertical-unit) * 2)
	.bc-hero
		&.bc-inner-page-heading 
			padding-top: calc(var(--vertical-unit) * 3) 
			padding-bottom: calc(var(--vertical-unit) * 3)
			//border-bottom: 4px solid var(--brand-primary)
			.bc-hero__heading
				margin-bottom: 0
				font-family: var(--serif-font)
				//font-size: var(--text-gr-03-5)
				color: #eaeaea
			.bc-content-label
				margin-bottom: calc(var(--vertical-unit) * 0.125)
				
	.bc-container
		&.bc-inner-page__main-section
			padding-top: calc(var(--vertical-unit) * 1)
			padding-bottom: calc(var(--vertical-unit) * 1) 
	& &__section:not(.bc-inner-page__main-section)
		background-image: linear-gradient(180deg, var(--white), $shade-f0)
	& &__main-section
		.bc-content-component:not(:last-of-type)
			margin-bottom: var(--vertical-unit)
			&:last-of-type
				margin-bottom: calc(var(--vertical-unit) * 2)
	& &__feature-image
		.bc-text-component
			width: 100%
			.bc-object-embed
				margin-bottom: 0
		&__caption
			width: 100%
			@include makeFlexbox($align: center)
			padding-top: 		calc(var(--vertical-unit) * 0.25)
			padding-bottom: calc(var(--vertical-unit) * 0.25)
			font-style: italic
			color: var(--shade-90)
	.bc-object-embed
		margin-bottom: var(--vertical-unit)

.bc-profiles
	.bc-grid
		@media screen and (min-width: 860px)
			grid-template-columns: repeat(3, 1fr) 
	.bc-profile__title
		font-weight: var(--bold-font-weight)
.bc-profile-detail
	&__intro
		& &__image
			margin-bottom: var(--vertical-unit)
			@media screen and (min-width: $tablet)
				max-width: calc(50% - var(--gutter))
				margin-right: var(--gutter)
			@media screen and (min-width: $tablet)
				max-width: calc(38.2% - var(--gutter))
		@media screen and (min-width: $tablet) 
			@include makeFlexbox()
			& &__text
				max-width: var(--text-max-width)
				padding-top: var(--vertical-unit)
		@media screen and (min-width: $tablet-large) 
			& &__text
				padding-top: calc(var(--vertical-unit) * 0.5)
.bc-media-embed--placeholder
	background-color: var(--text-black)
	> p 
		position: absolute
		left: var(--gutter)
		bottom: var(--vertical-unit)
		color: var(--white)

footer
	h2 
		font-family: var(--base-font)
		font-size: var(--text-gr-01)
	&.bc-container
		padding-bottom: calc(var(--vertical-unit) * 1.5)
.bc-footer-footer
	@include makeFlexbox($align: center)
	padding: calc(var(--vertical-unit)) calc(var(--gutter) * 0.5)
	font-size: var(--text-gr--1)
	color: var(--white)
	background-color: var(--brand-darker)

/* Modal window notification */
.bc-cookies-consent, .bc-modal
	position: fixed
	top: 100%
	left: 0
	bottom: 0
	width: 100%
	height: 100%
	padding: var(--vertical-unit) 0 0
	background-color: rgba($black, 0.24)
	opacity: 0
	transition: opacity 360ms ease-in 360ms, top 0ms ease-out 720ms
	z-index: 1000
	@include makeFlexbox(column, $justify: flex-end)
	& &__block
		transform: translateY(150%)
		padding: calc(var(--gutter) * 1.5) var(--vertical-unit)
		background-color: var(--white)
		border-top: #{(6/14)}rem solid var(--brand-primary)
		transition: transform 360ms ease-out 360ms
	& &__heading
		font-size: var(--text-gr-02-5)
	& &__heading, p
		margin-bottom: calc(var(--vertical-unit) * 0.5)
	p:last-of-type
		margin-bottom: calc(var(--vertical-unit) * 1)
	& &__btns
		a 
			margin-right: var(--gutter)
			font-size: var(--text--1)
			font-weight: var(--font-weight)
	& &__btns-wrap
		@include makeFlexbox($justify: flex-end, $align: center)
	@media screen and (min-width: $tablet) 
		padding-bottom: calc(var(--vertical-unit) * 2)
#bc-cookies-consent-block
	&.bc-cookies-set
		.bc-cookies-consent__block
			transform: translateY(150%) !important 
.bc-modal-visible
	.bc-modal
		top: 0
		opacity: 1
		transition: opacity 360ms ease-in 0ms
		.bc-modal__block
			transform: translateY(0)
			transition-delay: 360ms 
.bc-privacy-form
	.bc-button
		margin-top: var(--vertical-unit)
		&:first-of-type
			margin-right: calc(var(--vertical-unit) * 0.25)


		

		
