@import 'globals/_globals'
@import 'components/_mixins'
@import 'components/utilities.sass' 

*
	box-sizing: border-box
$small-font-size: 16px
html
	font-size: $small-font-size
body
	margin: var(--body-margin, 0) 
	padding: var(--body-margin, 0)
	font-family: var(--base-font)
	font-size: 100% 
	line-height: 1.45  
	background-color: var(--shade-f0)
	color: var(--text-black)
h1, h2, h3, h4, h5
	margin-top: 0
	line-height: 1.35
	color: var(--text-black)
h2, h3, h4, h5
	margin-bottom: calc(var(--vertical-unit) * 0.382 )
	font-family: var(--sans-font	) 
h1
	font-family: var(--heading-font)
	font-size: var(--text-10)
h2
	font-size: var(--text-02) 
h3
	font-size: var(--text-01)
p, ul, ol, blockquote 
	margin-top: 0
	margin-bottom: var(--vertical-unit)
	color: var(--shade-50)

button
	font-family: var(--base-font)
a  
	position: relative
	font-weight: var(--bold-font-weight)
	text-decoration: none  
	color: var(--link-color)
	transition: color var(--quicktrans) var(--easing)
	@include linkHover 
		font-weight: var(--link-active-weight) 
		color: var(--link-active-color)
		text-decoration: none  
		&::after
			height: 0.300rem
	&::after
		content: " "
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 0rem
		opacity: 0.72
		background-color: rgba($brand-secondary, 0.9)
		transition: height 220ms ease-out
hr
	width: 100%
	margin-top: 0
	margin-bottom: var(--vertical-unit)
	border-width: 0
	border-top-width: #{(1/14)}rem
	border-color: var(--shade-f0)
@mixin makeLinkActive
	position: relative
	transition: color var(--quicktrans) var(--easing)
	text-decoration: none  
	&::after
		content: " "
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 0rem
		opacity: 0.72
		background-color: rgba($brand-secondary, 0.9)
		transition: height 220ms ease-out
	@include linkHover()
		&::after
			height: 0.300rem
		text-decoration: none
@mixin makeGrid($grid-columns: repeat(auto-fill, minmax(var(--min-col-width), 1fr)), $grid-rows: auto, $gap: $vertical-unit)
	display: grid
	grid-template-rows: $grid-rows
	grid-template-columns: $grid-columns
	gap: $gap
	@content
blockquote
	margin-left: 0
	margin-top: calc(var(--vertical-unit) * 2)
	margin-bottom: calc(var(--vertical-unit) * 2)
	padding-left: #{(28/14)}rem
	border-left: 4px solid var(--shade-90)
	p 
		font-style: italic

img
	max-width: 100%
iframe
	border: none
.svg-icon
	max-width: 	2rem
	max-height: 2rem

@media screen and (min-width: 600px) 
	html
		font-size: 16px
@media screen and (min-width: 1400px) 
	html
		font-size: 18px
@media screen and (min-width: 1800px) 
	html
		font-size: 20px

@import 'components/header.sass';	
@import 'components/animations.sass';
@import 'components/grid';
@import 'components/hero'; 
@import 'components/cards'; 
@import 'components/bc-two-column-layout'; 
@import 'components/flickity-sliders';
@import 'components/bc-twin-component'; 
@import 'components/tables';

/* Layout */
.bc-container 
	padding: calc(var(--vertical-unit) * 3) calc(var(--gutter) * 1)
.bc-content-component
	margin-bottom: calc(var(--vertical-unit) * 2) 
	&:last-of-type, &:last-child
		margin-bottom: 0
	.bc-content-component
		padding-left: 0
		padding-right: 0
		
.bc-content-component
	@include makeFlexbox(column)
/* Utilities 	overwrites */
.bc-media-overlay
	background-color: rgba($black, 0.20) 
	mix-blend-mode: normal
.bc-cross-overlay
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 12.5%
	z-index: 10
	.cross-over-element
		fill: var(--brand-primary)
		opacity: 1

/* Custom utils */
@mixin makeBackgroundFill($fill-color, $fill-invert)
	@content
	background-color: $fill-color
	color: $fill-invert
	h1, h2, h3, h4, h5, a, p, ul, li, blockquote, .bc-arrow-link .svg-icon, .flickity-button-icon
		color: inherit
		fill: $fill-invert
	.flickity-page-dots .dot
		background-color: $fill-invert

.bc-bg-brand-secondary	
	@include makeBackgroundFill($brand-secondary, $white)

.bc-bg-brand-primary
	@include makeBackgroundFill($brand-primary, $white)
.bc-bg-shade-f0
	@include makeBackgroundFill($shade-f0, $text-black)
	
.bc-content-label
	&__wrap
		@media screen and (min-width: $tablet-large)
			@include makeFlexbox($align: center)

	margin-bottom: calc(var(--vertical-unit) * 0.618 )
	font-family: var(--sans-font) 
	font-size: var(--text-gr--2) 
	font-weight: var(--bold-font-weight)
	text-transform: uppercase
	
/* Hanlon & Co logo -- text */
.bc-site-logo 
	font-family: var(--serif-font)
	font-size: var(--text-gr-01)
	color: var(--text--black)
	> span
		color: var(--brand-secondary)
	&--white
		@extend .bc-site-logo
		color: var(--white)
	
.bc-arrow-link
	.svg-icon
		max-width: 	calc(var(--text-gr-00) * 1.3)
		max-height: calc(var(--text-gr-00) * 1.3)
		fill: var(--brand-primary)
.bc-feature-header
	position: relative
	margin-bottom: calc(var(--vertical-unit) * 4)
	& &__col
		max-width: #{(520 /18)}rem
		p:last-child
			margin-bottom: 0
	& &__heading
		position: relative
		margin-bottom: calc(var(--vertical-unit) * 0.382)
		color: var(--brand-primary)
	&::before 
		content: " "
		position: absolute
		top: auto 
		left: 0 
		bottom: calc((var(--gutter) )  * -1.382) 
		width: calc(var(--text-gr-04) * 1)
		height: #{(6/14)}rem
		background-color: rgba($brand-secondary, 1) 
	@media screen and (min-width: $tablet)
		//display: grid
		gap: var(--gutter)
		grid-template-columns: repeat(2, 1fr)	
.bc-intro-paragraph		
	font-size: var(--text-gr-01)
	font-weight: var(--light-weight)
	color: inherit
/* Inner page header */
.bc-site-header
	align-items: center
	height: 7vh
	padding-top: 		calc(var(--vertical-unit) /2 )
	padding-bottom: calc(var(--vertical-unit) /2 )
	background-color: var(--white)
	
	.bc-site-logo
		transition: none
	& &__home-link
		@include linkHover
			&::after
				height: 0
	& &__menu-link
		z-index: 35
		&__close
			fill: var(--white)
	& &__main-navigation
		align-items: stretch
		padding-top: 7vh
		background-color: var(--brand-primary)
		z-index: 30
		hr
			border-top: 1px solid var(--white)
			width: 100%
			padding: 0
			margin: 0 
		&__list 
			margin: 0
			padding: calc(var(--vertical-unit)) 0 calc(var(--vertical-unit) * 2) 
			list-style: none	
			font-size: var(--text-gr-01)
			a
				display: inline-flex
				padding: 0
				color: var(--white)
		li
			padding: calc(var(--vertical-unit) / 2) calc(var(--gutter))
		&__item
			font-family: var(--serif-font)
			font-size: var(--text-gr-01) 
			> ul 
				margin-top: 	 calc(var(--vertical-unit) * 0.5)
				margin-bottom: calc(var(--vertical-unit) * 0)
				padding-left: 0
				li 
					padding-top: calc(var(--vertical-unit) / 4)
					padding-bottom: calc(var(--vertical-unit) / 4)
				a 
					font-size: var(--text-gr-00)
					font-family: var(--base-font)
					font-weight: var(--font-weight)
			&.bc-contact-link
				display: none
		&__contact
			padding: calc(var(--vertical-unit) * 2) var(--gutter)
			background-color: var(--white)
			color: var(--text-black)
			
		@media screen and (min-width: $tablet-large)
			padding-top: 10vh	
	&.bc-is-active
		.bc-site-logo
			color: var(--white)
			z-index: 35
		& .bc-site-header__menu-link
			z-index: 35
	@media screen and (min-width: $tablet-large)
		height: 10vh
		& &__main-navigation
			left: 0
			right: 0
			width: 100%
			height: 0
			opacity: 0
			overflow: hidden
			transition: opacity 600ms ease-out
			&__item
				&.bc-contact-link
					display: initial
			&-wrap
				flex: 1 1 100%
				@include makeFlexbox(row, $align: stretch)
			&__list 
				flex: 1 1 61.8%
				opacity: 0
				transform-origin: 0 0  
				transform: translateY(calc(var(--vertical-unit) * 1))
				transition: opacity 840ms ease-out 420ms, transform 840ms ease-out 420ms 
			&__contact
				flex: 1 1 38.2%
				color: var(--white)
				opacity: 0
				background-color: lighten($brand-primary, 4%)  
				transition: opacity 1600ms ease-out 1000ms
				h1, h2, h3, h4, p, a
					color: inherit
		&.bc-is-active
			& .bc-site-header__main-navigation
				height: auto 
				background-color: var(--brand-primary)
				&__list 
					border-color: var(--white)
					opacity: 1
					transform: translateY(0)
				&__contact
					opacity: 1
/* Hero components overlay */
.bc-hero 
	padding-top: calc(var(--vertical-unit) * 8) 
	&.bc-inner-page-heading 
		padding-top: 		var(--vertical-unit)
		padding-bottom: var(--vertical-unit)
		.bc-hero__heading
			font-size: var(--text-gr-03)
			margin-bottom: 0
		.bc-media-overlay
			background-color: rgba($brand-primary, 0.72)
		.bc-content-label
			color: inherit
			margin-bottom: calc(var(--vertical-unit) * 0)
	color: var(--white)
	.bc-cross-overlay
		display: none
	&.bc-landing-hero
		padding-bottom: 0
		background-color: var(--white) 
	& &__heading
		position: relative
		margin-top: 6% //offset aganist the footer extra heignt
		margin-bottom: 0 
		font-size: var(--text-gr-04)
		color: var(--white)	
		max-width: var(--text-max-width)
		&::before
			background-color: var(--white) 
	& &__tagline, & &__heading, .bc-brand-tagline 
		color: inherit
	&	&__tagline
		font-size: var(--text-gr-01) 
		font-weight: var(--light-weight)
	.bc-site-logo, .bc-brand-tagline
		color: inherit
	.bc-site-logo
		margin-bottom: calc(var(--vertical-unit) / 2)
		line-height: 1.1
	.bc-brand-tagline
		font-size: var(--text-gr--1)
		font-weight: var(--light-weight )
		text-transform: uppercase
		letter-spacing: calc(var(--gutter) / (1.618 * 1.618))
	& &__body 
		@include makeFlexbox($direction: column, $justify: center) 
		padding-left:  calc(var(--gutter) / 2)
		padding-right: calc(var(--gutter) / 2)
		padding-bottom: calc(var(--vertical-unit) * 4)
	& &__footer
		flex-basis: 12.5%
		justify-content: center
		transition: opacity 320ms ease-out
		&__scroll
			font-size: var(--text--2)
			font-weight: var(--regular-font-weight)
			text-transform: uppercase
			.svg-icon
				margin-top: calc(var(--vertical-unit) / 6)
				max-width:  var(--text-02) 
				max-height: var(--text-02)
	@media screen and (min-width: $tablet) 
		padding-bottom: 0 
		& &__body
			padding-bottom: calc(var(--vertical-unit) * 4)
		&.bc-inner-page-heading
			.bc-hero__body
				padding-bottom: 0
		.bc-hero__heading 
			margin-top: 0 
			margin-bottom: calc(var(--vertical-unit) / 2)
	.bc-feature-header
		color: inherit
.bc-grad-bottom
	position: relative
	&::after
		content: " "
		position: absolute
		width: 120%
		height: 100px
		bottom: calc(var(--vertical-unit) * -1)
		left: -10%
		right: -10%
		background-color: var(--shade-e0)
		z-index: -1
		background-image: linear-gradient(0deg, transparent, $shade-f0)
.bc-two-column-layout
	background-color: var(--white)
	margin-bottom: 0
	& &__text-column
		padding-top: calc(var(--vertical-unit) * 1)
		padding-bottom: calc(var(--vertical-unit) * 2)
	& &__sub-head
		margin-bottom: calc(var(--vertical-unit) / 4)
		font-size: var(--text-01)
		font-family: var(--sans-font)
	.bc-arrow-link, p:last-child
		margin-bottom: 0
	@media screen and (max-width: calc(#{$tablet} - 1px))
		margin-left: calc((var(--gutter) + (var(--gutter) / 2)) * -1)
		margin-right: calc((var(--gutter) + (var(--gutter) / 2)) * -1)
		& &__text-column
			padding-left: calc((var(--gutter) + (var(--gutter) / 2)))
			padding-right: calc((var(--gutter) + (var(--gutter) / 2)))
	@media screen and (max-width: calc(#{$tablet-large} - 1px))
		margin-left: calc((var(--gutter) + (var(--gutter) / 2)) * -1)
		margin-right: calc((var(--gutter) + (var(--gutter) / 2)) * -1)
	@media screen and (min-width: $tablet)
		@include makeGrid($grid-columns: 1fr 1fr, $gap: 0)
		& &__text-column
			justify-content: center
			padding-bottom: var(--vertical-unit)
		&:nth-child(odd)
			.bc-two-column-layout
				&__text-column
					order: 0
				&__media-column
					order: 1	
.bc-breadcrumbs-nav
	&.bc-container
		padding-top: calc(var(--vertical-unit) * 0.618)
		padding-bottom: calc(var(--vertical-unit) * 0.618)

.bc-card 
	& &__media 
		background-color: var(--shade-60) 
	&--plain-text 
		background-color: var(--shade-e0)
		@include linkHover
			background-color: var(--shade-d0)
			text-decoration: none
			a 
				text-decoration: underline
				font-weight: var(--link-active-weight)
		
/* Transcript for object embeds */
.bc-show-hide
	margin-top: calc(var(--vertical-unit) / 2 * -1)
	margin-bottom: calc(var(--vertical-unit) / 2)
	& &__toggle
		position: relative
		@include makeFlexbox($align: center)
		padding-top: calc(var(--vertical-unit) / 2)
		padding-bottom: calc(var(--vertical-unit) / 2)
		font-family: var(--heading-font)
		font-size: var(--text-01)
		font-weight: var(--bold-font-weight)
		text-decoration: none
		@include linkHover
			text-decoration: underline
			cursor: pointer
		&.bc-is-active 
			.bc-show-hide-icon
				&.bc-show-hide-icon__hide
					opacity: 1
				&.bc-show-hide-icon__show
					opacity: 0
			+ .bc-show-hide__body
				margin-bottom: var(--vertical-unit)
	& &-icon
		position: absolute
		right: 0
		width:  var(--text-02)
		height: var(--text-02)  
		opacity: 1
		z-index: 10		
		//transition: opacity var(--quicktrans) var(--easing)
		&.bc-show-hide-icon__hide
			opacity: 0
			transform: rotate(180deg)
	& &__hide-icon
		opacity: 0	
	& &__body
		height: 0
		overflow: hidden 
		padding-left:  calc(var(--gutter) / 2)
		padding-right: calc(var(--gutter) / 2)
		transition: padding var(--medtrans) var(--easing), height var(--medtrans) var(--easing)
		&.bc-is-active
			padding-top: 		var(--vertical-unit)
			padding-bottom: var(--vertical-unit)
.bc-testimonials		
	&.bc-container
		padding-top: 		calc(var(--vertical-unit) * 5)
		padding-bottom: calc(var(--vertical-unit) * 5)
	& .bc-content-component--text
		margin-bottom: calc(var(--vertical-unit) * 0)	
	& &__quote-icon 
		&.bc-content-component--text
			display: block
		
		.svg-icon
			fill: rgba($shade-a0, 0.64)			
			max-width: 	4rem
			max-height: 4rem
			z-index: -1
	& &__heading
		margin-bottom: 0
	& &__text
		font-family: var(--serif-font) 
		font-size: var(--text-gr-02)
		font-weight: var(--bold-font-weight)
		&:last-child
			margin-bottom: 0
	.bc-flickity--text-slider
		padding-top: 2rem
		@media screen and (min-width: $tablet)
			.flickity-button
				top: calc(50% + 1rem)
.bc-flickity--text-slider
	padding-bottom: calc(var(--vertical-unit) * 4)
	@media screen and (max-width: calc(#{$tablet} - 1px))
		.flickity-prev-next-button
			&.previous 
				transform: translate(-25%, 50%)
			&.next 
				transform: translate(25%, 50%)
	@media screen and (min-width: $tablet)
		margin-left:  auto
		margin-right: auto
		padding-bottom: 0
		margin-bottom: calc(var(--vertical-unit) * 2)
		max-width: 90%
		.flickity-button
			bottom: auto
			top: 50%
			transform: translateY(-50%)
		.flickity-prev-next-button
			&.previous
				//left: calc(var(--gutter) * -1.618)
				left: -10%
				transform: translate(50%, -50%)
			&.next
				//right: calc(var(--gutter) * -1.618)
				right: -10%
				transform: translate(-50%, -50%)
		.flickity-page-dots
			bottom: calc(var(--vertical-unit) * -1.618)
	@media screen and (min-width: $tablet-large)
		margin-left: auto
		margin-right: auto
		max-width: 70.72%

	.bc-flickity__slide
		padding: 0 calc(var(--gutter) / 2)
		background-color: transparent
	.flickity-prev-next-button
		width: #{(44 / 14)}rem
		height: #{(44 / 14)}rem
		background-color: transparent 
	
			
.bc-areas-of-practice
	background-color: var(--white)
	@media screen and (max-width: calc(#{$tablet-large} - 1px))
		padding-bottom: calc(var(--vertical-unit) * 1)
	& &__main
		&.bc-content-component
			margin-bottom: 	calc(var(--vertical-unit) * 2)
		&__area
			width: 100%
			position: relative
		&__media
			picture
				display: block
			&__media
				@include objectEmbed
				padding-top: calc(10/8*100%)
		&__text
			position: absolute
			z-index: 20
			height: 100%
			width: 100%
			top: 0
			left: 0
			color: var(--white)	
			padding-left:  calc(var(--gutter) * 1.5)
			padding-right: calc(var(--gutter) * 1.5)
			@include makeFlexbox(column, flex-end, stretch)
			p 
				font-weight: var(--font-weight)
			.bc-arrow-link
				> span
					font-weight: var(--bold-font-weight)
					@include makeLinkActive
			.svg-icon
				fill: white
			&::after
				display: none
			@include linkHover()
				.bc-arrow-link
					> span
						&::after
							height: 0.300rem
				.bc-media-overlay
					background-color: rgba($black, 0.4) 
		&__sub-head
			margin-bottom: 0
			padding-bottom: calc(var(--vertical-unit) * 0.382)
			border-bottom: #{(1/14)}rem solid var(--white)
		&__description
			height: 0
			overflow: hidden	
			transition: height 420ms ease-out
		&__sub-head, p
			color: inherit
		.bc-media-overlay
			z-index: -1
		@media screen and (min-width: $tablet)
			@include makeGrid($grid-columns: repeat(2, 1fr), $grid-rows: auto, $gap: $gutter)
			.bc-areas-of-practice__main__media__media
				padding-top: calc(5 / 4 * 100%)
		@media screen and (min-width: $tablet-large)	
			.bc-areas-of-practice__main__media__media
				padding-top: calc(8 / 10 * 100%)

	& &__other
		background-image: linear-gradient(0deg, rgba($white, 0), var(--white))
		&.bc-content-component
			padding-top: 0
		&__area
			@include makeFlexbox(column, space-between)
			margin-bottom: calc(var(--vertical-unit) * 1)
		&__icon
			height: calc(var(--text-gr-04) * 1)
			width:  calc(var(--text-gr-04) * 1)
			margin-bottom: calc(var(--vertical-unit) * 1)
			max-width: none
			max-height: none
			fill: var(--brand-primary)

	@media screen and (min-width: $tablet)
		& &__other
			margin-left: auto
			margin-right: auto
			padding-top: calc(var(--vertical-unit) * 1)
			padding-left: 0
			padding-right: 0
			@include makeGrid($grid-columns: repeat(3, 1fr))
			&__area
				margin-bottom: 0
				.bc-arrow-link
					margin-bottom: 0
/** Custom components **/
.bc-bg-text
	font-family: var(--heading-font)
	font-size: var(--text-gr-02)
/* Big text compoonent */
.bc-big-text-feature
	& .bc-content-label
		margin-bottom: var(--vertical-unit)
	& &__heading
		font-family: var(--heading-font)
		font-size: var(--text-gr-02)
	h1, h2, h3, h4, h5, p, a, ul, li, blockquote
		color: inherit
	&.bc-container
		padding-top: 		calc(var(--vertical-unit) * 4)
		padding-bottom: calc(var(--vertical-unit) * 4)
	.bc-text-component
		@include makeFlexbox(column)
	.bc-arrow-link
		margin-bottom: 0
		> a 
			font-weight: var(--font-weight)
.bc-about-us
	background-color: var(--white)
	&.bc-container
		padding-top: 0
.bc-two-column-layout--wide
	& &__media
		&__media
			display: block
			@include objectEmbed
			padding-top: 100% 
	& &__text
		@include makeFlexbox(column, center, flex-start)
		padding: calc(var(--vertical-unit)*3) calc((var(--gutter) * 2)
		.bc-arrow-link
			margin-bottom: 0
	& &__heading
		margin-bottom: calc(var(--vertical-unit) * 1)
	@media screen and (min-width: $tablet-large)
		display: grid
		gap: 0
		grid-template-columns: 1fr 1fr
		grid-template-rows: auto
		& &__media
			&__media
				padding-top: calc(8/10*100%)
		& &__text
			padding-left:  calc(var(--gutter) * 2)
			padding-right: calc(var(--gutter) * 2)
		
.bc-inner-page
	.bc-breadcrumbs-nav, & &__main-section
		background-color: var(--white)
	.bc-container
		padding-top: calc(var(--vertical-unit) * 1)
		padding-bottom: calc(var(--vertical-unit) * 1)
	& &__section:not(.bc-inner-page__main-section)
		background-image: linear-gradient(180deg, var(--white), $shade-f0)
	& &__feature-image
		margin-bottom: calc(var(--vertical-unit) * 1)
	.bc-object-embed
		margin-bottom: var(--vertical-unit)
	
.bc-media-embed--placeholder
	background-color: var(--text-black)
	> p 
		position: absolute
		left: var(--gutter)
		bottom: var(--vertical-unit)
		color: var(--white)
.bc-show-hide
	&.bc-areas-of-practice 
		background-color: transparent
		.bc-show-hide__header
			justify-content: flex-end
			font-family: var(--sans-font)
			font-size: var(--text--2)
			@include linkHover()
				&::after
					height: 0
	& &__hide
		margin-bottom: 0
	& &__hide__wrap
		@include makeFlexbox($justify: flex-end, $align: center)
		.bc-show-hide-icon
			margin-left: calc(var(--gutter) * 0.618)
			transform: none
	.bc-show-hide-icon__wrap
		@include makeFlexbox(row, center, center, $inline: true)
		margin-left: var(--gutter)
		padding: calc(var(--gutter) * (0.382 * 0.5)) calc(var(--gutter) * 0.618)
		border-radius: calc(var(--text-gr-04) / 2)
		border: #{(1/14)}rem solid var(--black)
		background-color: var(--brand-secondary)
	.bc-show-hide-icon
		position: static
		width: auto
		height: auto
		transform: rotate(45deg)
		max-width:  calc(var(--text-gr--2) * 1.25)
		max-height: calc(var(--text-gr--2) * 1.25)
		transition: transform 420ms ease-out
	
	& &__toggle
		&.bc-is-active
			.bc-show-hide-icon
				opacity: 1
				transform: rotate(90deg)
			



		
		